@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  --container-center: true;

  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue-bg: hsl(207, 26%, 17%);
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white-element: hsl(0, 0%, 100%);
}

@layer base {
  :root {
    color-scheme: light;
  }
  body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    @apply bg-very-light-gray text-dark-blue dark:text-white-element dark:bg-very-dark-blue-bg;
  }
  .container {
    @apply mx-auto;
  }
  button,
  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6l6-6'/></svg>")
      no-repeat right 0.5rem center;
    /* background-size: 16px; */
  }
}
